*{
    box-sizing: border-box;
}
.container{
    background-color: gray;
    border:2px solid black;
    margin-bottom: 10px;
    position: relative;
}
.content,.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:3px;
    clear: right;
}
.title{
    height: 25px;
    width: 80px;
    background-color: lightcoral;
    text-align: center;
    color:white;
    font-weight: 100;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    float:right;
    

}
h1{
    text-align: center;
   
}
#one{
    background-color: limegreen;
}


#two{
    background-color:mediumaquamarine;
}

#three{
    background-color: lightcoral;
}
@media (min-width:992px) {
    .dv{
     width:32%;
    float: left;
    margin: 5px;
    
    }

    
}

@media (min-width:768px) and (max-width: 991px) {
    .container{
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
        
    }
    #container1{
        width:48%
    }
    #container2{
        width:48%
    }
    #container3{
        width:97%;
    }
};